.dw-container{
    min-height: 15.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.dw-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dw-container p {
    font-size: larger;
}

.dw-form {
    display: flex;
    flex-direction: column;
}

.dw-form input {
    margin-bottom: 5px;
}

.dw-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dw-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.dw-list div{
}