.dw-container{
    height: 14em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.dw-container p {
    font-size: larger;
}

.dw-form {
    display: flex;
    flex-direction: column;
}

.dw-form input {
    margin-bottom: 5px;
}