<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <link rel='stylesheet' type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Gameteca</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Gameteca</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'listagem-jogo' %}">Jogos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'atualizacao-usuario' %}">Minha conta</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cadastro-usuario' %}">Cadastro</a>
                </li>
              {% endif %}

            </ul>
            </div>
        </nav>
    </header>
    <main class="dw-container">
        {% block content %}
        {% endblock %}
    </main>
  <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
      <!-- Section: Social media -->
      <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
      <div class="me-5 d-none d-lg-block"></div>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
      <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-1">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Cajazeiras - PB</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            gabriella.gomes@academico.ifpb.edu.br
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            lara.kauanny@academico.ifpb.edu.br
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            andressa.gomes@academico.ifpb.edu.br
          </p>


        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
      </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
  <!-- Copyright -->
    </footer>
</body>
</html>